.message p {
  color: #FF0000;

}

.flash-message p {
  color: #FF0000;
  text-align:center;
}

p {
  font-family:"Times New Roman", Times, serif;
  font-size:150%;
}


caption {

  font-size:120%;
  color:#009933;

}

#user_email {
  font-weight:bold;
  color:white;
}


/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}





